body{
  background-color:gray;
  margin: 10px;
  padding: 10px;
}

.navbar{
  position: relative;
  background-color:rgba(255, 166, 0, 0.562);
  border-color: orange;
  height: 60px;
  color: #FFF;
}

.navbar-brand{
  color: #FFF !important;
}



.icons{
  font-size: 4rem;
  position: absolute;
  top: 50%;
  transform: translate(5px, 5px);
}

.icons:hover{
  cursor: pointer;
}

.btn-new-note{
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(88vw, -50%);
}
.list-group-item i.fa-arrows-v{
  float: none;
  padding-right: 15px;
  font-size: inherit;
}

.popover-content {
    color: blue;
}

.fa-save{
  display: none;
}

.fa-pencil{
  display: block;
}



.header-panel{
  margin: 0;
  width: 100%;
  background-color:#e9ecef;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.header-panel h1{
  font-size: 6rem;
}

.header-panel h2{
  font-size: 3.5rem;
}

.header-panel h1, .header-panel h2{
  text-align: center;
  color: black;
}

.header-panel h1{
  padding: 50px 0 20px 0;
  margin-top: auto;
}

.header-panel h2{
  padding-bottom: 30px;
}

a, a:hover {
  color: #FFF;
  text-decoration: none;
}

hr {
  width: 90%;
  margin: auto;
  border-top: 2px solid rgba(0, 0, 0, 0.493);
}

#btn-group{
  padding: 0 0 50px 0;
}

.border-right{
  border-right: 1px solid rgba(0,0,0,0.125);
}

.main-container div{
  height: calc(100vh - 70.38px);
  padding: 0;
}

.list-group-item{
  padding: 20px;
  cursor: pointer;
}

.list-group-item span{
  font-size: 1.7rem;
  color: gray;
}

.list-group-item i {
  float: right;
  font-size: 2.1rem;
  cursor: pointer;
}

.note-title, .note-title:focus, .note-text, .note-text:hover{
  padding-left: 34px;
  width: 100%;
  border: none;
  outline: none;
}

.note-title{
  height: 65px;
  margin-top: 13px;
  font-size: 6rem;
}

.note-text{
  height: calc(100% - 63px);
  padding-top: 15px;
  color: #757575;
}

.footer {
	min-height: 10%;
	overflow: auto;
}

.footerContainer {
	font-size: 15px;
	padding: 10px;
	margin-top: 40px;
}